


body {
  background-color: #FBF3EB;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 102px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

nav:hover {
  text-decoration: underline;
}

p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  width: 355px;
  height: 368px;
  left: 49px;

  color: #000000;
} 

button {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 38px;
  color: beige;
  background-color: orangered;
  border-radius: 15px;
  border: none;
  padding: 4px 12px;
  width: 176px;
  height: 52px;
  top: 300px;
}

.sign-up {
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  opacity: 50%;
}

.image1 {
  width: 374px;
  height: 743px;
  top: 275px;
}

.image3 {
  position: absolute;
  width: 206px;
  height: 446px;
  left: 470px;
  top: 200px;
}

.image2 {
  position: absolute;
  width: 412px;
  height: 314px;
  left: 450px;
  top: 720px;
}

.image4 {
  width: 189px;
  height: 446px;
  margin-left: 700px;
  margin-top: 52px;
  
}

.image5 {
  position: absolute;
  width: 189px;
  height: 446px;
  left: 915px;
  top: 200px;
}

form h2 {
  font-size: 48px;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.login {
  text-decoration: none;
}

.form-input {
  display: block;
  padding: 16px 1px;
  font-size: 16px;
  width: 60%;
  margin-bottom: 15px; 
  border-radius: 10px;

  background: #FFFFFF;
  border-radius: 10px;
}

.form-title {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background: #E2D8CC;
  border-radius: 7px;
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 650px;

  top: 189px;
}

.image1 {
  position: absolute;
  width: 850px;
  height: 700px;
  left: 1300px;
  top: 275px;
  border-radius: 25px;
}

button {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 38px;
  color: beige;
  background-color: orangered;
  border-radius: 15px;
  border: none;
  padding: 4px 12px;
  width: 176px;
  height: 52px;
  display: flex;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 38px;
  color: beige;
  background-color: orangered;
  border-radius: 15px;
  border: none;
  padding: 4px 12px;
  width: 176px;
  height: 52px;
}

button a {
  vertical-align: middle;
  margin: auto;
}

button:hover {
  opacity: 50%;
}

form h2 {
  font-size: 48px;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.form-input {
  display: block;
  padding: 16px 1px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px; 
  border-radius: 10px;

  background: #FFFFFF;
  border-radius: 10px;
}

form {
  background: #E2D8CC;
  border-radius: 7px;
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 800px;
  height: 650px;
  left: 125px;
  top: 189px;
}

.image1 {
  position: absolute;
  width: 850px;
  height: 700px;
  left: 1300px;
  top: 275px;
  border-radius: 25px;
}



@media screen and (max-width: 575px) {

}